html {
  height: 100%;
}
body {
  background-image: url('mediafiles/road.jpg');
  background-repeat: repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #272727;
}

#whole {
  position: relative;
  min-height: 100%;
}

.wrapper {
    
  min-height: 100%;
  background: rgba(0, 0, 0, 0);
}
.apply-button {
  white-space: normal!important;
}
.apply-block {
  width: 200px;
}
.apply-block a {
  text-decoration: none!important;
}
.top-section {

  padding-bottom: 150px;
}
.contact-section {
  
  padding: 50px 0 100px 0;
}
.top-section a, .top-section a:hover {
  color: #fff;
}
.middle-section  {
  padding: 50px 0 100px 0;

}

header{
  height: 70px;
}